/* Your styles here */
html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.containerLogo {
    background-color: #222f3f;
    height: 4rem ;
}

.containerLogo img {
    max-height: 100%;
    max-width: 100%;
    padding: 0.7rem;
    padding-left: 2rem;
}

.navBar {
    background-color: #364759;
    padding-left: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.navBar a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;

}

.orangeContainer {
    background-color: #f56600;
    text-align: center;
    padding: 0.5rem;
    margin: 2rem 2rem;
}
.orangeContainer a {
    color: white;
    text-decoration: none;
    font-size: large;
}

.containerGiftGuides {
    background-image: url(../images/bg-image.png);
    background-size: contain;
    text-align: center;
    margin: 2rem 2rem;
    height: 15rem;
    padding-top: 5rem;
}
.containerGiftGuides h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

.containerGiftGuides h2 {
    padding-top: 2rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.containerGiftGuides h1,h2 {
    color: white;
}


.mainContainer {
    border: 1px solid #ebecec;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    box-shadow: 1px 6px 21px 5px rgba(0,0,0,0.32);
}
.containerPerfectGift {
    color: black;
    background-color: white;
    margin-top: 1rem;
    margin-left: 1rem;

}

.containerPerfectGift h2 {
    margin-right: 1rem;
    color: black;
    display: inline-block;
    font-size: larger;
    font-weight: 500;
    
}

.containerPerfectGift a {
    text-decoration: none;
    font-weight: bold;
    color: #207399;
}

.contenitoreImmaginiPerfette {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    padding: 2rem 1rem;
}

.immaginiPerfette {
    max-width: 25rem;
    height: 25rem;
    border-radius: 15px;
    box-shadow: 5px 5px 9px 5px rgba(0,0,0,0.33);
}

.contenitoreImmagine1{
    margin: 2rem;
    text-align: center;
}

.contenitoreImmagine2{
    margin: 2rem;
    text-align: center;

}

.contenitoreImmagine1 img {
    max-width: 100%;
    max-height: 100%;
}
.contenitoreImmagine2 img {
        max-width: 100%;
        max-height: 100%;
        border-top: 1px solid rgb(1, 1, 117);
}


.contenitoreImmagine1 a {

    display: inline-block;
    color: #207399;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    
}

.contenitoreImmagine1 h2 {

    display: inline-block;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
    font-size: larger
}

.contenitoreImmagine2 a {
    display: inline-block;
    color: #207399;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
}

.contenitoreImmagine2 h2 {
    display: inline-block;
    color: black;
    font-weight: bold;
    margin-right: 1rem;
    font-size: larger
}

.backToTopContainer {
    text-align: center;
    background-color: #364759;
    padding: 2rem;
}
.backToTopContainer a {
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.containerLogoFinale {
    background-color: #222f3f;
    height: 12rem;
    text-align: center;
}
.containerLogoFinale img {
    max-height: 50%;
    max-width: 50%;
    padding: 1rem;
    margin: 3rem;   
}