
@import '../node_modules/bootstrap/scss/bootstrap.scss';
@import 'mixin';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



* {
    font-family: 'Inter', sans-serif;
}

h1 {
    font-weight: 600;
}

#hero {
    background-color: #7550fe;
}

.row {
    .title {
        font-weight: 600;
    }
}

.feather-16{
    width: 16px;
    height: 16px;
}

.feather-24{
    width: 24px;
    height: 24px;
}

.feather-32{
    width: 32px;
    height: 32px;
}

.badge {
    width: 32px;
    height: 32px;
    background-color: #ffeeda;
    @include coloreDinamico(#ffeeda);
}

.card {
    max-width: 288px;
}
