@mixin coloreDinamico($bg_hero){//#640101
    
    background-color: $bg_hero;
    
    @if( lightness($bg_hero) > 50){

        color: darken($bg_hero,20)
        
    }@else{
        
        color: lighten($bg_hero,20)

    }

}