@import "reset";
@import "colori";
@import "font";
@import "spaziature";
@import "bottoni";
@import "mixins";
@import "animazioni";


nav {
    display: flex;
    justify-content: space-between;
    background-color: #{$bg_hero};
}

ul {
    li {
        display: inline-block;
    }
}