<div class="container">
  <h1>Audi Motors</h1>
  <div class="row justify-content-center">
    <div class="col-4" *ngFor="let auto of autoArrays">
      <div class="p-2 mt-3">
        <div class="card">
          <img [src]="auto.modelImage" class="card-img-top w-100" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{auto.brand}}</h5>
            <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quidem ipsam unde ducimus
              reiciendis, sint officiis nisi amet cumque itaque? Deserunt sunt nihil aperiam eligendi exercitationem
              quia
              corrupti mollitia fugit rem.
            </p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Prezzo: {{auto.price | currency:'EUR'}}</li>
            <li class="list-group-item">Modello: {{auto.model}}</li>
            <li class="list-group-item">Anno: {{auto.year}}</li>
            <li class="list-group-item" [ngClass]="{'bg-success': auto.available, 'bg-danger': !auto.available}"
              [innerText]="auto.available ? 'Pronta consegna: SI' : 'Pronta consegna: NO'">
              A third item
            </li>
          </ul>
          <div class="card-body">
            <a [routerLink]="['/auto',auto.id]" class="card-link">Specifiche Tecniche</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>