.card {
    height: 100%;
}

img.card-img-top {
    height: 270px;
}


.btn.btn-primary {
    background-color: #7066e0;
    border: 0;
    font-weight: 500;
}

.btn.btn-primary:hover {
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
}

.btn.btn-warning {
    border: 0;
    font-weight: 500;
}

.card-text.description {
    line-height: 1.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    max-height: 3.2rem;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: green;
}

img {
    max-width: 335px;
}