*{
    box-sizing: border-box;
}

.contenitore {
    height: fit-content;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    perspective: 400px;
    padding: 5rem;
    gap: 1.5rem;
}

.postit {
    width: 300px;
    height: 300px;
    margin: 20px auto;
    display: flex;
    transition-duration: 1s;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task1 {
    transform: rotate(355deg);
    background: #fefecd;
    background: linear-gradient(0deg, rgba(128,128,113,1) 0%, rgba(254,254,205,1) 100%);
    box-shadow: 6px 7px 10px 0px rgba(0,0,0,0.38);
}

.task2 {
    transform: rotate(7deg);
    background-color: #cbfdcd;
    background: linear-gradient(0deg, rgba(158,181,161,1) 18%, rgba(203,253,205,1) 100%);
    box-shadow: 6px 7px 10px 0px rgba(0,0,0,0.38);
}

.task3 {
    transform: rotate(356deg);
    background: rgb(98,99,111);
    background: linear-gradient(0deg, rgba(98,99,111,1) 17%, rgba(201,201,247,1) 100%);
    box-shadow: 6px 7px 10px 0px rgba(0,0,0,0.38);
}

.task1:hover {
    transform: translateZ(50px);
    z-index: 1;
}
.task2:hover {
    transform: translateZ(50px);
    z-index: 1;
}
.task3:hover {
    transform: translateZ(50px);
    z-index: 1;
}

.postit {
    animation-name: slide;
    animation-duration: 1.6s;
    animation-iteration-count: 1;
}

@keyframes slide {
    from {transform: translateZ(1000px)
    }
}
