:root{
    --main-yellow: #ffd877;
    --light-yellow: #fdfbf1;
    --main-green: #004d4c;
    --light-green: #0c7575;

}

body{
    font-family: 'Lora', serif;
}

.box-logo{
    text-align: center;
}
.ciao {
    background-color: var(--light-yellow);
    border-top: 1px solid var(--main-yellow);
    box-sizing: border-box;
    text-align: center;
}
.insidebox {
    display: inline-block;
    color: var(--main-green);
    font-weight: 800;
    
}
.big{
    font-family: 'Lora', serif;
    font-weight: 800;
    text-transform: uppercase;
}
main{

    max-width: 720px;
    margin: 0 auto;
}
.boxfeatarticole{
    border-left: 2px solid rgb(255, 230,0);
}
.featarticole{
    color: orange;
    font-weight: 600;
    margin-left: 20px;
    margin-bottom:50px;
    padding-top: 10px;
}
span:not(.big) {
    
    color: var(--light-green);
}
a:visited{
    color: var(--light-green);
}
.list {
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(133, 255, 214, 0.884)
}
.listbottom {
    padding-bottom: 3px;
}
.imagecredit{
    color: gray;
    text-align: center;
}
.immagine{
    display: block;
    border-radius: 8px;

}
.esclusoh{
    text-align: center;
}
video {
    border-radius: 8px;
}