<div class="container">
  <div class="row">
    <div class="col-4" *ngFor="let auto of randomAutoArrays">
      <div class="card">
        <img [src]="auto.modelImage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{auto.brand}}</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prezzo: {{auto.price}}</li>
          <li class="list-group-item">Modello: {{auto.model}}</li>
          <li class="list-group-item">Anno: {{auto.year}}</li>
          <li class="list-group-item" [ngClass]="{'bg-success': auto.available, 'bg-danger': !auto.available}"
            [innerText]="auto.available ? 'Pronta consegna: SI' : 'Pronta consegna: NO'">
            A third item
          </li>
        </ul>
        <div class="card-body">
          <a [routerLink]="['/auto',auto.id]" class="card-link">Scopri di piu</a>
        </div>
      </div>
    </div>
  </div>
</div>