/* IMPOSTAZIONI GENERALI */
body {
    background-image: url(../img/sfondo.png);
    font-family: 'Poppins', sans-serif;
}

/* HEADER */
#headblock {
    background-color: #007791;
    text-align: center;
    text-transform: uppercase;
    margin: 15px;
    padding: 15px;
    font-weight: 800;
    -webkit-box-shadow: -2px 9px 9px -2px #000000; 
box-shadow: -2px 9px 9px -2px rgba(0,0,0,0.7);
}
img {
    padding: 30px;
    max-width: 75%;
}

.nomeblog {
    font-size: 22px;
    margin-bottom: 24px;
    color: white;
}
.listanav > li {
    font-size: 22px;
    
    margin-bottom: 8px;
}

.listanav > li> a {
    color: white;
    text-decoration: none;
}
/* MAIN */
#mainblock {
    background-color: white;
    margin: 15px;
    padding: 40px 15px;
    -webkit-box-shadow: 0px 7px 13px -4px rgba(0,0,0,0.82); 
    box-shadow: 0px 7px 13px -4px rgba(0,0,0,0.82);
    font-size: 18px;

}
#maintitle {
    font-weight: 600;
    font-size: 40px;
    padding-bottom: 35px;
}

#citazione {
    font-size: 20px;
    color: #95a99a;
}
/* ELEMENTI NEL MAIN - ARTICLE */
.firstsection {
    padding-top: 30px;
    padding-bottom: 30px;
}

span {
    color: #a6166d;
    font-weight: 700;
}
.spacelistfirst{
    padding-top: 30px;
    padding-bottom: 30px;
}
.dot {
    height: 6px;
    width: 6px;
    background-color: #000000;
    border-radius: 50%;
    display: inline-block;
}

.spacelistsecond {
    padding-top: 30px;
}

/* TABELLE */

/* FORM */

/* ELEMENTI NELL' ASIDE */

/* FOOTER */
