* {
    box-sizing: border-box;
}

/* main {
    display: flex;
    justify-content: center;
} */


.nav {
    border-bottom: 1px solid black;
    background-color: #ffc017;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    overflow: hidden;
    transition: background-color 0.5s
}

.nav-white {
    background-color: white;
}

nav>img {
    height: 100%;
}

.containerItemNav {
    padding: 25px 0;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    margin-inline: 1.5%;
}

.get {
    border: none;
    padding: 8px 16px;
    background-color: black;
    color: white;
    border-radius: 99em;
    transition: background-color 0.5s
}

.get-green {
    background-color: #1a8917;
}


.item_nav {
    display: flex;
    align-items: center;
    gap: 20px;
}

.item_nav a {
    text-decoration: none;
    color: black;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
}

.contenitoreItem-btn {
    display: flex;
    gap: 20px;
}

.belowNavBar {
    display: flex;
    justify-content: flex-end;
    background-color: #ffc017;
    gap: 30px;
    border-bottom: 1px solid black;
    height: 100%;
}

.insideBelowNavBar {
    display: flex;
    flex-direction: column;
    margin: auto;
    row-gap: 1.5rem;
}

.insideBelowNavBar h2 {
    font-size: 106px;
    font-weight: 500;
}

.insideBelowNavBar h3 {
    font-size: 24px;
    font-family: 'robot', sans-serif;
}

.startReading-btn {
    margin: 1.5rem 0;
    background-color: black;
    color: white;
    font-size: 20px;
    width: 213px;
    border-radius: 99em;
    border: none;
    padding: 8px 20px;
}

.mainContainer {
    border-bottom: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'roboto', sans-serif;
    padding: 3rem 0;
    max-width: 1192px;
    margin: auto;
}

.container-trending {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenitoreMain {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.contenitoreTrendingArt {
    display: flex;
    padding: 1rem;
    gap: 1rem;
}

.contenitoreTrendingArt>span {
    font-size: 32px;
    font-weight: 500;
    letter-spacing: -.014em;
    color: #F2F2F2;
    font-family: 'roboto', sans-serif;
}

.contenitoreImmgineH2 {
    display: flex;
    height: 23px;
    gap: 0.5rem;
    font-size: 13px;

}

.contenitoreImmgineH2 h2 {
    display: flex;
    align-items: center;

}

.contenitoreImmgineH2 img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.conternitore-healine-span {
    overflow: hidden;
}

.headlineArt {
    font-weight: 700;
    font-size: 16px;
}

.star {
    display: flex;
    gap: 3px;
}

.tooltip {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltip #tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #191919;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip #tooltip-text::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
}

.tooltip:hover #tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip2 {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltip2 #tooltip-text2 {
    visibility: hidden;
    width: 120px;
    background-color: #191919;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px;
    padding: 10px 0px;
}

.tooltip2 #tooltip-text2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
}

.tooltip2:hover #tooltip-text2 {
    visibility: visible;
    opacity: 1;
}

.tooltip-save {
    position: relative;
    display: flex;
    align-items: center;
}

.tooltip-save #tooltip-text2 {
    visibility: hidden;
    width: 57px;
    background-color: #191919;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 9px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -28px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 13px;
}

.tooltip-save #tooltip-text2::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #191919 transparent transparent transparent;
}

.tooltip-save:hover #tooltip-text2 {
    visibility: visible;
    opacity: 1;
}


.star img {
    width: 15px;
    height: 15px;
}

.star2 {
    display: flex;
    font-size: 14px;
    padding-top: 0.8rem;
    align-items: center;
    justify-content: space-between;
}

.inside-star2 {
    display: flex;
    align-items: center;
    gap: 5px;
}

.cloud-tag {
    background-color: #F2F2F2;
    padding: 5px;
    border-radius: 13px;
    font-size: 13px;
    margin-left: 0%;
}

.premium {
    width: 15px;
    height: 15px;
}

.star2 img:nth-of-type(2) {
    width: 25px;
    height: 25px;
}

.contenitoreSpan {
    font-size: 13px;
    line-height: 20px;
}

.trandingOnMedium {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-weight: 500;
    font-size: 15px;
}

.trendingArticle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-top: 7px;
}

.container-aside-art {
    display: flex;
}

.contenitoreImmgineH4 {
    display: flex;
    align-items: center;
    padding: 9px 0px;
    gap: 7px
}

.paragraph-inside-art {
    color: #6B6B6B;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
}

.contenitoreImmgineH4 h4 {
    font-weight: bold;
    padding-right: 3px;

}

.contenitoreImmgineH4 img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid lightgrey;
}

.img-aside-art {
    width: 200px;
    height: 134px;
}

.container-aside-section {
    display: flex;
    justify-content: space-around;
    max-width: 1192px;
    margin: 0 auto;
    position: relative;
}

.container-aside-art {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1192px;
    margin: 0 auto;
    padding: 2rem 0;
    font-family: 'roboto', sans-serif;
    gap: 50px;
}

.flex1 {
    display: flex;
    flex-direction: column;
}

.container-aside-art h2 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    max-height: 48px;
    color: #242424;
}

.aside-flex {
    padding-left: 3rem;
}

.flex1 {
    flex: 1
}

.container-aside {
    width: 397px;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 45px;
    gap: 7px;
    margin: -0.1rem 0px;
    padding-top: 4.4rem;
    padding-bottom: 2.2rem;
    z-index: 1;
}

.container-aside h2 {
    font-weight: 500;
    font-size: 16px;
    color: #242424;
    line-height: 20px;
    font-family: 'roboto', sans-serif;
    text-transform: uppercase;
}

.container-aside a {
    text-decoration: none;
    color: #6B6B6B;
    width: fit-content;
    padding: 12px 16px;
    border-radius: 20px;
    background-color: #F2F2F2;
    color: #242424;
    font-family: 'roboto', sans-serif;
    font-size: 14px;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding-top: 1.5rem;
    border-top: 1px solid #F2F2F2;
    margin-top: 1.5rem;
}

.footer a {
    border: none;
    padding: 9px;
    text-decoration: none;
    font-family: 'robot', sans-serif;
    color: #6B6B6B;
    background-color: transparent
}